---
import { copy } from '../content/copy';
---

<footer class="bg-bg border-t border-border-soft py-8">
  <div class="max-w-container mx-auto px-8">
    <p class="font-mono text-[11px] text-text-tertiary">
      {copy.footer.text}
    </p>
  </div>
</footer>
